.loader {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  .indicator {
    left: 50%;
    top: 50%;
    margin-left: -70px;
    margin-top: -50px;
    position: absolute;

    text-align: center;
    color: white;
    font-size: 25px;
  }
}