.loader {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;

  .indicator {
    left: 50%;
    top: 50%;
    margin-left: -70px;
    margin-top: -68px;
    position: absolute;

    text-align: center;
    color: white;
    font-size: 25px;
  }

  #animation img {
    display: none;
  }
  #animation img:first-child {
    display: block;
  }
}