.pokedex-regions {
  font-size: 0;
  padding: 15px;
  li {
    font-size: 14px;
    display: inline-block;
    text-transform: capitalize;
    padding: 5px;
  }
}

#loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  pointer-events: none;

  &.is-hidden {
    display: none;
  }

  img {
    position: fixed;
    top: 50%;
    left: 50%;
  }
}

.caracteristic {
  text-align: center;
}

.pokedex {
  font-style: 0;
  padding: 0 20px;

  li.pokedex-entry {
    display: inline-block;
    font-style: 12px;
    width: 130px;
    height: 130px;
    margin: 5px;
    border: 2px solid transparent;
    vertical-align: top;

    $amountDarken: 20%;

    &.kanto {
      $color: #764ab9;

      border-color: #764ab9;
      &:hover {
        border-color: lighter($color, 20%);
      }
      .pkmn-idDex {
        color: #764ab9;
      }
      .pokedex-entry__pkmn {
        &:active {
          $box-shadow: inset 0px 0px 20px 0px rgba(darken($color, $amountDarken),0.75);
          -webkit-box-shadow: $box-shadow;
          -moz-box-shadow: $box-shadow;
          box-shadow: $box-shadow;
        }
      }
    }

    &.johto {
      $color: #849491;

      border-color: $color;
      &:hover {
        border-color: darken($color, 20%);
      }
      .pkmn-idDex {
        color: $color;
      }
      .pokedex-entry__pkmn {
        &:active {
          $box-shadow: inset 0px 0px 20px 0px rgba(darken($color, $amountDarken),0.75);
          -webkit-box-shadow: $box-shadow;
          -moz-box-shadow: $box-shadow;
          box-shadow: $box-shadow;
        }
      }
    }

    &.hoenn {
      $color: #03821c;

      border-color: $color;
      &:hover {
        border-color: darken($color, 20%);
      }
      .pkmn-idDex {
        color: $color;
      }
      .pokedex-entry__pkmn {
        &:active {
          $box-shadow: inset 0px 0px 20px 0px rgba(darken($color, $amountDarken),0.75);
          -webkit-box-shadow: $box-shadow;
          -moz-box-shadow: $box-shadow;
          box-shadow: $box-shadow;
        }
      }
    }

    &.sinnoh {
      $color: #007a99;

      border-color: $color;
      &:hover {
        border-color: darken($color, 20%);
      }
      .pkmn-idDex {
        color: $color;
      }
      .pokedex-entry__pkmn {
        &:active {
          $box-shadow: inset 0px 0px 20px 0px rgba(darken($color, $amountDarken),0.75);
          -webkit-box-shadow: $box-shadow;
          -moz-box-shadow: $box-shadow;
          box-shadow: $box-shadow;
        }
      }
    }

    &.unys {
      $color: #0d6cfc;

      border-color: $color;
      &:hover {
        border-color: darken($color, 20%);
      }
      .pkmn-idDex {
        color: $color;
      }
      .pokedex-entry__pkmn {
        &:active {
          $box-shadow: inset 0px 0px 20px 0px rgba(darken($color, $amountDarken),0.75);
          -webkit-box-shadow: $box-shadow;
          -moz-box-shadow: $box-shadow;
          box-shadow: $box-shadow;
        }
      }
    }

    &.kalos {
      $color: #c79dff;

      border-color: $color;
      &:hover {
        border-color: darken($color, 20%);
      }
      .pkmn-idDex {
        color: $color;
      }
      .pokedex-entry__pkmn {
        &:active {
          $box-shadow: inset 0px 0px 20px 0px rgba(darken($color, $amountDarken),0.75);
          -webkit-box-shadow: $box-shadow;
          -moz-box-shadow: $box-shadow;
          box-shadow: $box-shadow;
        }
      }
    }

    img {
      display: block;
      margin: 0 auto;
    }

    &.next-region, &.prev-region {
      border: 2px black solid;
      padding: 5px;
      a {
        display: table;
        p {
          display: table-cell;
          vertical-align: bottom;
        }  
      }
      
    }

    p {
      text-transform: capitalize; 
      padding: 0 3px;
      margin: 0;
      font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      text-align: center;

      .pkmn-idDex {
        font-weight: 500;
        font-size: 12px;
      }

      .pkmn-name {
        font-size: 12px;
        display: block;
      }
    }

    .pokedex-entry__pkmn {
      width: 100%;
      height: 100%;
      display: block;
      padding: 0;
    }
  }
}

.pkmn-modal {
  .modal-header {
    border-bottom: none;
    .pkmn-name {
      vertical-align: middle;
    }
    .pkmn-img {
      margin-right: 10px;
    }
    .pkmn-types {
      font-size: 0;
      margin-top: 15px;
      li {
        display: inline-block;
        font-size: 12px;
        text-transform: uppercase;
        padding: 3px 5px;
        margin-right: 5px;
        border-radius: 3px;

        text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
        color: white;

        // type pokemon class
        &.poison {
          background-color: purple;
        }

        &.grass {
          background-color: #77c84f;
        }

        &.fire {
          background-color: #f07f2f;
        }

        &.water {
          background-color: blue;
        }

        &.normal {
          background-color: #a7a777;
        }

        &.bug {
          background-color: #a7b71f;
        }

        &.ice {
          background-color: #97d8d8;
        }

        &.steel {
          background-color: #b7b7d0;
        }

        &.flying {
          background-color: #a78ff0;
        }

        &.fighting {
          background-color: #bf2f27;
        }

        &.fairy {
          background-color: #e4a1e1;
        }

        &.dragon {
          background-color: #6f37f8;
        }

        &.electric {
          background-color: #f8d02f;
        }

        &.psychic {
          background-color: #f85787;
        }

        &.ground {
          background-color: #e0bf67;
        }

        &.ghost {
          background-color: #6f5797;
        }

        &.dark {
          background-color: #6f5747;
        }

        &.rock {
          background-color: #b79f37;
        }
      }
    }
  }

  .modal-body {
    border-top: 1px solid #E5E5E5;
  }

  .pkmn-abilities {
    table-layout: fixed;
  }

  .pkmn-evolutions, .pkmn-abilities {
    display: table;
    width: 100%;

    .pkmn-abilities__item {
      text-align: center;
      display: table-cell;
      text-transform: capitalize;
    }

    .pkmn-evolutions__item {
      display: table-cell;
    }
  }
}