.pokedex-regions {
  font-size: 0;
  padding: 15px;
  li {
    font-size: 14px;
    display: inline-block;
    text-transform: capitalize;
    padding: 5px;
  }
}

#loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  pointer-events: none;

  &.is-hidden {
    display: none;
  }

  img {
    position: fixed;
    top: 50%;
    left: 50%;
  }
}

.caracteristic {
  text-align: center;
}

.pokedex {
  font-style: 0;
  padding: 0 20px;

  li.pokedex-header {
    border-bottom: 2px solid transparent;
    padding: 30px 0 0;
    margin-bottom: 10px;
    text-align: left;
    font-size: 35px;
    text-transform: capitalize;

    &.kanto {
      $color: #764ab9;

      border-color: #764ab9;
    }

    &.johto {
      $color: #849491;

      border-color: $color;
    }

    &.hoenn {
      $color: #03821c;

      border-color: $color;
    }

    &.sinnoh {
      $color: #007a99;

      border-color: $color;
    }

    &.unys {
      $color: #0d6cfc;

      border-color: $color;
    }

    &.kalos {
      $color: #c79dff;

      border-color: $color;
    }
  }

  li.pokedex-entry {
    display: inline-block;
    font-style: 12px;
    width: 130px;
    height: 130px;
    margin: 5px;
    border: 2px solid transparent;
    vertical-align: top;

    $amountDarken: 20%;

    &.last-pkmn {
      &:after {
        content: '.';
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
      } 
    }

    &.kanto {
      $color: #764ab9;

      border-color: #764ab9;
      &:hover {
        border-color: lighter($color, 20%);
      }
      .pkmn-idDex {
        color: #764ab9;
      }
      .pokedex-entry__pkmn {
        &:active {
          $box-shadow: inset 0px 0px 20px 0px rgba(darken($color, $amountDarken),0.75);
          -webkit-box-shadow: $box-shadow;
          -moz-box-shadow: $box-shadow;
          box-shadow: $box-shadow;
        }
      }
    }

    &.johto {
      $color: #849491;

      border-color: $color;
      &:hover {
        border-color: darken($color, 20%);
      }
      .pkmn-idDex {
        color: $color;
      }
      .pokedex-entry__pkmn {
        &:active {
          $box-shadow: inset 0px 0px 20px 0px rgba(darken($color, $amountDarken),0.75);
          -webkit-box-shadow: $box-shadow;
          -moz-box-shadow: $box-shadow;
          box-shadow: $box-shadow;
        }
      }
    }

    &.hoenn {
      $color: #03821c;

      border-color: $color;
      &:hover {
        border-color: darken($color, 20%);
      }
      .pkmn-idDex {
        color: $color;
      }
      .pokedex-entry__pkmn {
        &:active {
          $box-shadow: inset 0px 0px 20px 0px rgba(darken($color, $amountDarken),0.75);
          -webkit-box-shadow: $box-shadow;
          -moz-box-shadow: $box-shadow;
          box-shadow: $box-shadow;
        }
      }
    }

    &.sinnoh {
      $color: #007a99;

      border-color: $color;
      &:hover {
        border-color: darken($color, 20%);
      }
      .pkmn-idDex {
        color: $color;
      }
      .pokedex-entry__pkmn {
        &:active {
          $box-shadow: inset 0px 0px 20px 0px rgba(darken($color, $amountDarken),0.75);
          -webkit-box-shadow: $box-shadow;
          -moz-box-shadow: $box-shadow;
          box-shadow: $box-shadow;
        }
      }
    }

    &.unys {
      $color: #0d6cfc;

      border-color: $color;
      &:hover {
        border-color: darken($color, 20%);
      }
      .pkmn-idDex {
        color: $color;
      }
      .pokedex-entry__pkmn {
        &:active {
          $box-shadow: inset 0px 0px 20px 0px rgba(darken($color, $amountDarken),0.75);
          -webkit-box-shadow: $box-shadow;
          -moz-box-shadow: $box-shadow;
          box-shadow: $box-shadow;
        }
      }
    }

    &.kalos {
      $color: #c79dff;

      border-color: $color;
      &:hover {
        border-color: darken($color, 20%);
      }
      .pkmn-idDex {
        color: $color;
      }
      .pokedex-entry__pkmn {
        &:active {
          $box-shadow: inset 0px 0px 20px 0px rgba(darken($color, $amountDarken),0.75);
          -webkit-box-shadow: $box-shadow;
          -moz-box-shadow: $box-shadow;
          box-shadow: $box-shadow;
        }
      }
    }

    img {
      display: block;
      margin: 0 auto;
    }

    &.next-region, &.prev-region {
      border: 2px black solid;
      padding: 5px;
      a {
        display: table;
        p {
          display: table-cell;
          vertical-align: bottom;
        }  
      }
    }

    p {
      text-transform: capitalize; 
      padding: 0 3px;
      margin: 0;
      font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      text-align: center;

      .pkmn-idDex {
        font-weight: 500;
        font-size: 12px;
      }

      .pkmn-name {
        font-size: 12px;
        display: block;
      }
    }

    .pokedex-entry__pkmn-container {
      display: table;
      width: 100%;
      height: 100%;
      .pokedex-entry__pkmn {
        display: table-cell;
        vertical-align: middle;
      }  
    }
  }
}