@import "reset";
@import "input";


#container {
  display: flex;
  font-family: sans-serif;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

#pkmn-details {
  flex-basis: 0%;
  transition: transform .3s;
  &.show {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 75%;
  }
  & > section {
    top: 0;
    bottom:0;
    position: fixed;
    overflow-y:scroll;
    overflow-x:hidden;
    display: flex;
    flex-direction: column;
    background-color: #F9F9F9;
    padding: 15px;
    border-left: 1px solid red;

    header {
      padding-bottom: 15px;
      width: 100%;
      display: flex;
    }
    h3 {
      text-transform: capitalize;
      font-size: 31px;
    }
    .pkmn-types {
      margin-top: 15px;
      font-size: 0;

      li {
        display: inline-block;
        margin-right: 5px;
        padding: 3px 5px;
        border-radius: 3px;
        color: white;
        text-transform: uppercase;
        text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
        font-size: 12px;

        &.poison {
          background-color: purple;
        }
        &.grass {
          background-color: #77c84f;
        }
        &.fire {
          background-color: #f07f2f;
        }
        &.water {
          background-color: blue;
        }
        &.normal {
          background-color: #a7a777;
        }
        &.bug {
          background-color: #a7b71f;
        }
        &.ice {
          background-color: #97d8d8;
        }
        &.steel {
          background-color: #b7b7d0;
        }
        &.flying {
          background-color: #a78ff0;
        }
        &.fighting {
          background-color: #bf2f27;
        }
        &.fairy {
          background-color: #e4a1e1;
        }
        &.dragon {
          background-color: #6f37f8;
        }
        &.electric {
          background-color: #f8d02f;
        }
        &.psychic {
          background-color: #f85787;
        }
        &.ground {
          background-color: #e0bf67;
        }
        &.ghost {
          background-color: #6f5797;
        }
        &.dark {
          background-color: #6f5747;
        }
        &.rock {
          background-color: #b79f37;
        }
      }
    }
  }
}

.pkmn {
  font-size: 15px;
}

.pokedex__container {
  flex-grow: 1;
}

.pokedex {
  display: flex;
  

  
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  list-style: none;
}



.pokedex-item {
  position: relative;
  margin:5px;
  /*flex-basis: 20%;*/
  width: 150px;
  height: 150px;
  border: 3px solid white;

  a {
    display: block;
    width: 100%;
    height: 100%;
  }
  &:hover {
    &:before {
      background-color: rgba(0, 0, 0, 0);
    }
    img {
      filter: initial;
      transform: scale(1.5);
    }
    p {
      color: black;
    }
    &.fire {
      background: linear-gradient(to bottom, #ff1a00 0%, #ff5d00 100%);

      &-border {
        border-color: #ff5d00;
      }
    }
    &.water {
      background: linear-gradient(to bottom, #1e5799 0%, #7db9e8 100%);

      &-border {
        border-color: #7db9e8;
      }
    }
    &.grass {
      background: linear-gradient(to bottom, #52b152 0%, #005700 98%);

      &-border {
        border-color: #005700;
      }
    }
    &.poison {
      background: linear-gradient(to bottom, #ad1283 0%, #840e65 100%);

      &-border {
        border-color: #840e65;
      }
    }
    &.fly {
      background: linear-gradient(to bottom, #ebe9f9 0%, #c1bfea 100%);

      &-border {
        border-color: #c1bfea;
      }
    }
    &.electric {
      background: linear-gradient(to bottom, #fceabb 0%, #f8b500 100%);

      &-border {
        border-color: #f8b500;
      }
    }
    &.flying {
      background: linear-gradient(to bottom, #d5ebfb 0%, #89c3eb 100%);

      &-border {
        border-color: #89c3eb;
      }
    }
    &.bug {
      background: linear-gradient(to bottom, #cdeb8e 0%, #a5c956 100%);

      &-border {
        border-color: #a5c956;
      }
    }
    &.ground {
      background: linear-gradient(to bottom, #f3e2c7 0%, #b68d4c 100%);

      &-border {
        border-color: #b68d4c;
      }
    }
    &.fairy {
      background: linear-gradient(to bottom, #fcecfc 0%, #ff7cd8 100%);

      &-border {
        border-color: #ff7cd8;
      }
    }
    &.dark {
      background: linear-gradient(to bottom, #131313 0%, #4c4c4c 100%);

      &-border {
        border-color: #131313;
      }
    }
    &.rock {
      background: linear-gradient(to bottom, #f0b7a1 0%, #8c3310 100%);

      &-border {
        border-color: #8c3310;
      }
    }
    &.steel {
      background: linear-gradient(to bottom, #c9dae5 0%, #b5c6d0 100%);

      &-border {
        border-color: #b5c6d0;
      }
    }
    &.ice {
      background: linear-gradient(to bottom, #9ee8fa 0%, #d6f9ff 100%);

      &-border {
        border-color: #d6f9ff;
      }
    }
    &.fighting {
      background: linear-gradient(to bottom, #f6e6b4 0%, #ed9017 100%);

      &-border {
        border-color: #ed9017;
      }
    }
    &.normal {
      background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 100%);

      &-border {
        border-color: #f6f6f6;
      }
    }
  }
  &:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, .75);
    content: "";
    pointer-events: none;
  }
  figure {
    display: flex;
    align-content: flex-start;
    margin: 0;
  }
  img {
    display: block;
    margin: 0 auto;
    filter: grayscale(100%);
    transition: transform .3s;
    will-change: transform;
  }
  p {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9999;
    color: white;
    text-align: center;
    text-transform: capitalize;
  }
}